// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Roboto+Slab&display=swap');

$enable-rounded:            true !default;
$enable-shadows:            true;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Variables
//
// Colors

$theme-colors: (
  primary: #140082,
  secondary: #f80000,
  light: #d9e000,
  dark: #151515,
  info: #ccc,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: white;
$body-color: #151515;
$body-color-inverse: invert($body-color) !default;
$link-color: #12bbad;

// Fonts

$font-family-base:             'Poppins', sans-serif;
$headings-font-family:         'Poppins', sans-serif;
$display-font-family: $headings-font-family;
$font-weight-normal:           300;
$headings-font-weight:         1300;
$spacer: 1.5rem;


@import 'bootstrap-4.3.1';
